.cpm-nav-bar {
  display: grid;
  grid-template-columns: auto max-content;

  .sign {
    padding: var(--main-container-padding);
    font-family: fantasy;
    font-size: var(--font-size-nav);
    font-weight: 600;
    letter-spacing: 3px;
  }

  .nav {
    grid-column: -1 span;
    padding: var(--main-container-padding);
    font-family: sans-serif;
  
    a {
      margin: 0 10px;
      opacity: 0.5;
      font-size: var(--font-size-nav);
      transition: opacity .2s ease;

      &:hover {
        opacity: 0.8;
      }

      img {
        position: relative;
        top: 3px;
      }
    }
  }
}
