.cpm-nav-bar {
  display: grid;
  grid-template-columns: auto max-content;

  .sign {
    padding: var(--main-container-padding);
    font-family: Papyrus, Herculanum, Party LET, Curlz MT, Harrington, fantasy, "Gill Sans", sans-serif;
    font-size: var(--font-size-nav);
    font-weight: 600;
    letter-spacing: 3px;
  }

  .nav {
    grid-column: -1 span;
    padding: var(--main-container-padding);
    font-family: var(--q-font-family);
    display: flex;
    align-items: center;
  
    a {
      margin: 0 10px;
      opacity: 0.5;
      font-size: var(--font-size-nav);
      transition: opacity .2s ease;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }

      img {
        position: relative;
        top: 3px;
      }
    }
  }
}

// ListProjects
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));

  a.item {
    transition: .2s all ease-out;
    padding: 0.8em 1em;
    background: transparent;
    font-size: 1.1rem;
    cursor: pointer;
    &:hover {
      background: #88888810;
    }

    .icon {
      width: 2rem;
      height: 2rem
    }
  }
}
