:root {
  --font-size-nav: 20px;
  --main-container-padding: 2rem;
  --q-bg: #fff;
  --q-scrollbar: #eee;
  --q-scrollbar-hover: #bbb;
  --q-font-family: youus, "Gill Sans", sans-serif;
}


html.dark .youus {
  --q: #bbb;
  --q-deep: #ddd;
  --q-deeper: #fff;
}

.youus {
  --q: #555;
  --q-deep: #222;
  --q-deeper: #000;

  color: var(--q);
}

html.dark {
  --q-bg: #050505;
  --q-scrollbar: #111;
  --q-scrollbar-hover: #222;
}
